@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section>
    <div class="row bg-secondary">
        <div class="col-8 text-center p-5 text-white">
            <!-- Première colonne avec une largeur de 6 sur 12 sur les écrans de taille moyenne et supérieure -->
            <h2 class="text-white"> PROCEDURE CONSULAIRE</h2>
        </div>
        <div class="col-4 my-4">
            <!-- Deuxième colonne avec une largeur de 6 sur 12 sur les écrans de taille moyenne et supérieure -->
            <img src="~/img/certificat-tanger-migrow-avocat-consulat.png" class="w-25" alt="Image">
        </div>
    </div>

    <div class="my-5">
        <p class="text-center bg-light p-5 text-lg">
            Consultez le guide de Campus France Maroc.
            Il vous accompagne dès la création de votre compte et à chaque étape de la saisie du dossier
            "Je suis candidat" sur la plateforme Campus Maroc
        </p>


        <div class="container">

            <a href="~/pdf/listeDoc.pdf" target="_blank">
                <div class="card">
                    <h4 class="card-header bg-primary text-white">DOCUMENT</h4>
                    <div class="card-body row">
                        <div class="col-3">
                            <img src="~/img/PDF_file_icon.png" class="d-inline w-25" />
                        </div>
                        <p class="col-3">Guide de la procedure consulaire</p>
                    </div>
                </div>
            </a>

        </div>



    </div>
</section>
