@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section>
    <div class="row bg-secondary">
        <div class="col-6 text-center p-5">
            <!-- Première colonne avec une largeur de 6 sur 12 sur les écrans de taille moyenne et supérieure -->
            <h2 class="text-white">LA VIE AU MAROC</h2>
        </div>
        <div class="col-6 my-2">
            <!-- Deuxième colonne avec une largeur de 6 sur 12 sur les écrans de taille moyenne et supérieure -->
            <img src="~/img/Morocco.png" class="w-50" alt="Image">
        </div>
    </div>

    <div class="my-5">
        <p class="text-center bg-light p-5 text-lg" id="titre">
            Alimentation, santé, transports, loisirs… le coût de la vie en France peut être assez élevé,
            surtout à Paris et dans les grandes villes.
            Mieux vaut bien préparer son budget pour éviter les mauvaises surprises lors de son installation.
        </p>

        <div class="container">
            <h3 class="text-primary">LE COUT DE LA VIE ETUDIANTE</h3>
            <p class="my-3">
                Pour une année universitaire sereine, il est important de bien préparer votre séjour en France. Estimez votre budget est primordial.

                Voici les principaux postes de dépenses à prévoir. Ces chiffres sont donnés à titre indicatif. Dans les grandes métropoles, les prix avoisinent souvent ceux de Paris.
            </p>
            <h3 class="text-primary">VOTRE BUDGET ALIMENTATION</h3>
            <p>
                En moyenne, les Français consacrent près de 300 euros par mois à leur alimentation. Ce chiffre peut varier en fonction de la ville où vous vivez et de votre consommation. De manière générale, le coût de la vie est sensiblement plus élevé à Paris.

                <strong>Voici les prix moyens de quelques produits de base :</strong>
                <ul>
                    <li>
                        une baguette de pain : 1.20 dihram;
                    </li>
                    <li>
                        un croissant : 2 dihram;
                    </li>
                    <li>
                        1 Kg de pâtes : 1.50 dihram
                    </li>
                    <li>
                        1 Kg de pâtes : 1.50 dihram
                    </li>
                     <li>
                        1 Kg de pâtes : 1.50 dihram
                    <li>
                        1 Kg de pâtes : 1.50 dihram
                    </li>
                    
                </ul>
               <div >
                    <img src="~/img/Hausse-des-prix-comment-maitriser-son-budget-alimentaire.jpg" class="mx-auto d-block w-50" id="titre" alt="Image">
               </div>
            </p>
        </div>
        <div class="container">
            <h3 class="text-primary">Votre budget santé</h3>
            <p class="my-3">
                En France, les médecins sont libres d’appliquer les tarifs qu’ils veulent. Pour garder la maîtrise de votre budget santé, privilégiez les médecins « conventionnés de secteur 1 » qui pratiquent le tarif remboursé presque intégralement par la sécurité sociale. Vous paierez moins cher et vous serez mieux remboursé. 
                Si vous consultez un médecin au centre de santé universitaire, les consultations sont gratuites.
            </p>
            <ul>
                <h5>consultation chez un généraliste : 25 euros (16,50 euros remboursés)</h5>
                <li>consultation chez un spécialiste : 25 euros (16,50 euros remboursés)</li>
                <li>consultation chez un gynécologue, un ophtalmologue : 30 euros (20 euros remboursés)</li>
                <li>consultation chez un dentiste : 30 euros (la part remboursée dépend du soin).</li>
            </ul>
            <img src="~/img/5f1c4612e0831.jpg" class="mx-auto d-block " alt="Image">
        </div>
        <div class="container my-5">
            <h3 class="text-primary">Votre budget Loisirs</h3>
            <p class="my-3">
                Le prix des loisirs et des activités culturelles est très variable. Il y en a pour tous les goûts et pour toutes les bourses. Vous aurez souvent accès à des réductions et à des tarifs spéciaux sur présentation de votre carte étudiant ou simplement si vous avez moins de 25 ans.
                Voici quelques exemples pour vous aider à estimer votre
            </p>
            <ul>
                <h5>Budget loisirs:</h5>
                <li>1 entrée dans un musée ou un monument national : gratuit pour tous les ressortissants de l’Espace économique européen de moins de 26 ans ou entre 5 et 15 euros</li>
                <li>1 entrée à la piscine au tarif réduit : entre 1,50 et 3 euros</li>
                <li>1 livre de poche : entre 5 et 10 euros.</li>
                <li>1 place de théâtre : à partir de 10 euros</li>
                <li>un abonnement illimité au cinéma : 30 euros par mois</li>
            </ul>
            <div>
                <img src="~/img/006167l155.jpg" class="mx-auto d-block w-50" alt="Image">
            </div>
           
        </div>

        <div class="container">
            <h3 class="text-primary">Ouvrir un compte en banque au Maroc</h3>
            <p class="my-5">
                Ouvrir un compte bancaire en France peut être très utile, notamment pour régler vos factures (électricité, téléphone, loyer) et vos abonnements (transports, Internet). Vous pourrez également percevoir plus facilement vos éventuels salaires et vous faire rembourser vos frais de santé directement. Une carte de paiement française vous permet également de régler la majorité de vos dépenses et vous évite de transporter des sommes importantes d’argent liquide.

                Posséder un compte bancaire est un droit qui est reconnu par la loi française. Un étudiant étranger qui réside en France peut ouvrir un compte bancaire dans n’importe quelle banque en France. Les différents établissements bancaires sont représentés dans la majorité des villes ; il suffit de pousser la porte d’une agence et de prendre un rendez-vous avec un conseiller

                Comparez les offres de différentes banques. Les coûts de la carte de retrait, des virements internationaux et des retraits d’argent à l’étranger peuvent sensiblement varier d’un établissement à l’autre.
                Trois documents sont nécessaires pour ouvrir un compte bancaire
                <ul>
            
                    <li>une pièce d'identité </li>
                    <li>un justificatif de domicile</li>
                    <li>une attestation de scolarité ou une carte d'étudiant</li>
                    <li>1 place de théâtre : à partir de 10 euros</li>
                    <li>un abonnement illimité au cinéma : 30 euros par mois</li>
                </ul>
                Dans l’attente d’un logement définitif, vous pouvez parfois utiliser l’adresse du service des relations internationales de votre établissement.

                En ouvrant un compte bancaire, vous aurez droit à une carte bancaire et un chéquier. Grâce à votre relevé d’identité bancaire (RIB), vous pourrez mettre facilement en place des prélèvements automatiques pour vos différents abonnements.

                En cas de difficulté à ouvrir un compte bancaire, il existe une procédure dite de « droit au compte ». La Banque de France désignera d’office une banque qui sera obligée de vous ouvrir un compte. Les détails de cette procédure, les documents à fournir et les associations proposant de l’aide sont sur le site de la Banque de France.
            </p>
        

        </div>
        <p class="text-center bg-light p-5 text-lg">
            Quel logement choisir, comment lancer mes recherches, existe t-il des aides pour payer mon loyer, qu'est-ce qu'un garant ? ... les questions sont 
            nombreuses au moment de penser à vous loger pendant vos études en France.
        </p>

        <div class="container">

            <h3 class="text-primary">Se loger en résidence étudiante ou en foyer</h3>
            <p class="my-4">
                <span class="text-black  fw-bold"> De nombreuses options sont à votre disposition pour vous loger pendant vos études en France.</span> Vous aurez le choix entre un logement dans le secteur public ou dans le privé, en résidence étudiante ou en appartement, seul ou en-colocation, dans une chambre chez l’habitant ou dans un logement indépendant… Pas de panique, nous vous aidons à décrypter tous les types de logements à la disposition des étudiants et nous vous accompagnons dans vos recherches.

                Dans tous les cas, nous vous recommandons de commencer vos recherches le plus tôt possible. N’hésitez pas à réserver un logement, même temporaire, pour avoir une adresse où poser vos valises en arrivant. Vous aurez ensuite le temps de chercher sereinement votre logement permanent.

                Pensez également à vous adresser à votre établissement. Certains établissements, notamment les Grandes Ecoles, disposent de leur propres de logements ou d’une plateforme de recherche de logements réservées à leurs étudiants.
            </p>
            <ul>
                <h5>Pour faciliter vos recherches, nous avons distingué deux manières de se loger pour les étudiants au Maroc:</h5>
                <li>Se loger au sein de résidences ou de foyers. Cela présente plusieurs avantages : loyers modérés, chambres déjà meublées, et une vie en collectivité très appréciée des étudiants</li>
                <li>Se loger dans le parc immobilier privé en passant par une agence immobilière ou auprès d’un particulier. C’est dans ces logements que vous pourrez faire de la colocation avec d’autres étudiants ou bien « loger chez l’habitant » en louant une chambre dans un appartement.</li>
           
            </ul>

        </div>
        <div class="container">
            <h3 class="text-secondary">Nos recommandations</h3>
          
            <ul>
                <li>N’attendez pas d’être en France pour chercher votre logement. Faites vos demandes à distance, que ce soit pour obtenir une chambre dans une résidence du CROUS, dans un foyer ou dans une résidence privée.</li>
                <li>
                    Méfiez-vous des loyers trop bas. À Paris, comptez 400 euros pour une chambre en résidence universitaire du CROUS et au minimum 800 euros pour un studio dans le privé. Dans les autres villes, vous pouvez diviser ces chiffres par deux, en moyenne. Dans la plupart des cas, vous pouvez bénéficier des aides financières de la CAF (Caisse d’Allocations Familiales) pour payer votre loyer.
                </li>
                <li>Privilégiez les logements loués meublés. Vous économisez des frais d’installation.</li>
                <li>N’envoyez jamais d’argent à distance sans avoir signé un contrat de location et avoir échangé directement avec un organisme.</li>
                <li>Evitez de payer des loyers d’avance.</li>
            </ul>

        </div>

    </div>
</section>
