@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container pb-5">
    <h1 class="text-center pt-5">@ViewData["Title"]</h1>
    <hr />
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
            <p class="text-center">
                This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
            }
            else
            {
            <p>
                Please check your email to confirm your account.
            </p>
            }
        }
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>


